name: publish
on:
  push:
    tags:
      - 'v*' # Run when a version tag is pushed

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v5

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build and Pack
        run: dotnet pack src/SealAnalyzer/SealAnalyzer.csproj -c Release -o out

      - name: Publish to NuGet
        run: dotnet nuget push out/*.nupkg --source https://api.nuget.org/v3/index.json --skip-duplicate